<div id="game">

  <%if @loser %>
    <div class="alert alert-error"><%=@loser%></div>
  <% end %>
  <%if @winner %>
    <div class="alert alert-success"><%=@winner%></div>
  <% end %>
  <%if @tie %>
    <div class="alert alert-info"><%=@tie%></div>
  <% end %>

  <h4>Let's play Blackjack!</h4>

  <% if @play_again %>
    <p><h5>Would <%= session[:player_name] %> like to play again?</h5>
    <a href='/bet' class='btn btn-primary'>Yes</a>
    <a href='/game_over' class='btn'>No</a></p>
  <% end %>

  <% if @player_turn %>
    <h5><%= session[:player_name] %> has <%= calculate_total(session[:player_hand]) %> and has bet $<%= session[:bet_amount] %>. What would <%= session[:player_name] %> like to do?</h5>
    <form class='form_button' action='/hit' method='post'>
      <input type='submit' value='Hit' class='btn btn-success' id='hit_button'>
    </form>
    <form class='form_button' action='/stay' method='post'>
      <input type='submit' value='Stay' class='btn btn-warning' id='stay_button'>
    </form>
    <br>
    <br>
  <% else %>
    <h5><%= session[:player_name] %> has a total of <%= calculate_total(session[:player_hand]) %>. <%= session[:player_name] %> has bet $<%= session[:bet_amount] %>.</h5>
  <% end %>

  <div class="well well-small">
    <h5>Dealer's cards:</h5>
    <% if @player_turn %>
      <img class="img-polaroid" src="/images/cards/cover.jpg">
      <img class="img-polaroid" src="/images/cards/<%= session[:dealer_hand][1][0].downcase %>_<%= session[:dealer_hand][1][1].to_s.downcase %>.jpg">
    <% else %>
      <% session[:dealer_hand].each do |card| %>
        <img class="img-polaroid" src="/images/cards/<%= card[0].downcase %>_<%= card[1].to_s.downcase %>.jpg">
      <% end %>
    <% end %>
    <% if @dealer_turn %>
      <h5>Dealer has <%= calculate_total(session[:dealer_hand]) %> and will hit.</h5>
      <form action='/dealer/hit' method='post'>
        <input type='submit' value="Click to see dealer's next card" class='btn btn-primary' id='dealer_button'>
      </form>
    <% end %>
  </div>

  <div class="well well-small">
    <h5><%= session[:player_name] %>'s cards:</h5>
    <% session[:player_hand].each do |card| %>
      <img class="img-polaroid" src="/images/cards/<%= card[0].downcase %>_<%= card[1].to_s.downcase %>.jpg">
    <% end %>
  </div>
</div>